In [4]:
import numpy as np
import pandas as pd

station_2020 = pd.read_csv('每日各站進出站人數2020.csv')
station_2020

station_2021 = pd.read_csv('每日各站進出站人數2021.csv')
station_2021

station_2022 = pd.read_csv('每日各站進出站人數2022.csv')
station_2022

       trnOpDate  staCode  gateInComingCnt  gateOutGoingCnt
0       20220101      900             8645             8526
1       20220101      910              996             1243
2       20220101      920             1369             1711
3       20220101      930             3663             4535
4       20220101      940             1532             1845
...          ...      ...              ...              ...
86547   20221231     7360             3984             3893
86548   20221231     7361               92              115
86549   20221231     7362              131              159
86550   20221231     7380              494              426
86551   20221231     7390              313              274

[86552 rows x 4 columns]

In [ ]:
import requests
url1 = "https://ods.railway.gov.tw/tra-ods-web/ods/download/dataResource/8ae4cabf6973990e0169947ed32454b9"
response = requests.get(url1)
jsonData = response.json()
jsonData

In [6]:
station_2023 = pd.DataFrame(jsonData)
station_2023

      trnOpDate staCode gateInComingCnt gateOutGoingCnt
0      20230101    0900            8030            8241
1      20230101    0910            1017            1326
2      20230101    0920            1400            1705
3      20230101    0930            3558            4398
4      20230101    0940            1509            1815
...         ...     ...             ...             ...
65003  20231001    7360            4076            3564
65004  20231001    7361              76              81
65005  20231001    7362             326             363
65006  20231001    7380             514             381
65007  20231001    7390             335             261

[65008 rows x 4 columns]