In [3]:
import numpy as np
import pandas as pd

#美國球賽門票收入
tips = pd.read_csv('tips.csv')
tips.columns = ['總票價', '小費', '吸煙者', '日期', '時間', '大小']
tips['小費比例'] = tips['小費'] / tips['總票價']
tips

       總票價    小費  吸煙者    日期      時間  大小      小費比例
0    16.99  1.01   No   Sun  Dinner   2  0.059447
1    10.34  1.66   No   Sun  Dinner   3  0.160542
2    21.01  3.50   No   Sun  Dinner   3  0.166587
3    23.68  3.31   No   Sun  Dinner   2  0.139780
4    24.59  3.61   No   Sun  Dinner   4  0.146808
..     ...   ...  ...   ...     ...  ..       ...
239  29.03  5.92   No   Sat  Dinner   3  0.203927
240  27.18  2.00  Yes   Sat  Dinner   2  0.073584
241  22.67  2.00  Yes   Sat  Dinner   2  0.088222
242  17.82  1.75   No   Sat  Dinner   2  0.098204
243  18.78  3.00   No  Thur  Dinner   2  0.159744

[244 rows x 7 columns]

In [5]:
tips.sort_values(by='小費比例')[-6:]

       總票價    小費  吸煙者   日期      時間  大小      小費比例
109  14.31  4.00  Yes  Sat  Dinner   2  0.279525
183  23.17  6.50  Yes  Sun  Dinner   4  0.280535
232  11.61  3.39   No  Sat  Dinner   2  0.291990
67    3.07  1.00  Yes  Sat  Dinner   1  0.325733
178   9.60  4.00  Yes  Sun  Dinner   2  0.416667
172   7.25  5.15  Yes  Sun  Dinner   2  0.710345

In [6]:
def top(df,n=5,column='小費比例'):
    return df.sort_values(by=column)[-n:]

top(tips,n=6)

       總票價    小費  吸煙者   日期      時間  大小      小費比例
109  14.31  4.00  Yes  Sat  Dinner   2  0.279525
183  23.17  6.50  Yes  Sun  Dinner   4  0.280535
232  11.61  3.39   No  Sat  Dinner   2  0.291990
67    3.07  1.00  Yes  Sat  Dinner   1  0.325733
178   9.60  4.00  Yes  Sun  Dinner   2  0.416667
172   7.25  5.15  Yes  Sun  Dinner   2  0.710345

In [7]:
dict(list(tips.groupby('吸煙者')))

{'No':        總票價    小費 吸煙者    日期      時間  大小      小費比例
 0    16.99  1.01  No   Sun  Dinner   2  0.059447
 1    10.34  1.66  No   Sun  Dinner   3  0.160542
 2    21.01  3.50  No   Sun  Dinner   3  0.166587
 3    23.68  3.31  No   Sun  Dinner   2  0.139780
 4    24.59  3.61  No   Sun  Dinner   4  0.146808
 ..     ...   ...  ..   ...     ...  ..       ...
 235  10.07  1.25  No   Sat  Dinner   2  0.124131
 238  35.83  4.67  No   Sat  Dinner   3  0.130338
 239  29.03  5.92  No   Sat  Dinner   3  0.203927
 242  17.82  1.75  No   Sat  Dinner   2  0.098204
 243  18.78  3.00  No  Thur  Dinner   2  0.159744

 [151 rows x 7 columns],
 'Yes':        總票價    小費  吸煙者   日期      時間  大小      小費比例
 56   38.01  3.00  Yes  Sat  Dinner   4  0.078927
 58   11.24  1.76  Yes  Sat  Dinner   2  0.156584
 60   20.29  3.21  Yes  Sat  Dinner   2  0.158206
 61   13.81  2.00  Yes  Sat  Dinner   2  0.144823
 62   11.02  1.98  Yes  Sat  Dinner   2  0.179673
 ..     ...   ...  ...  ...     ...  ..       ...
 234  15.53  3.00  Yes  Sat  Dinner   2  0.193175
 236  12.60  1.00  Yes  Sat  Dinner   2  0.079365
 237  32.83  1.17  Yes  Sat  Dinner   2  0.035638
 240  27.18  2.00  Yes  Sat  Dinner   2  0.073584
 241  22.67  2.00  Yes  Sat  Dinner   2  0.088222

 [93 rows x 7 columns]}

In [9]:
tips.groupby('吸煙者').apply(top,n=6)

           總票價    小費  吸煙者    日期      時間  大小      小費比例
吸煙者
No  6     8.77  2.00   No   Sun  Dinner   2  0.228050
    88   24.71  5.85   No  Thur   Lunch   2  0.236746
    185  20.69  5.00   No   Sun  Dinner   5  0.241663
    51   10.29  2.60   No   Sun  Dinner   2  0.252672
    149   7.51  2.00   No  Thur   Lunch   2  0.266312
    232  11.61  3.39   No   Sat  Dinner   2  0.291990
Yes 93   16.32  4.30  Yes   Fri  Dinner   2  0.263480
    109  14.31  4.00  Yes   Sat  Dinner   2  0.279525
    183  23.17  6.50  Yes   Sun  Dinner   4  0.280535
    67    3.07  1.00  Yes   Sat  Dinner   1  0.325733
    178   9.60  4.00  Yes   Sun  Dinner   2  0.416667
    172   7.25  5.15  Yes   Sun  Dinner   2  0.710345