In [ ]:
import pandas as pd
import numpy as np

df = pd.read_csv('world.csv')
df

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 187885 entries, 0 to 187884
Data columns (total 33 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   ID              187885 non-null  int64
 1   iso_code        187885 non-null  object
 2   洲名              187885 non-null  object
 3   國家              187885 non-null  object
 4   日期              187885 non-null  object
 5   總確診數            187885 non-null  int64
 6   新增確診數           187885 non-null  int64
 7   七天移動平均新增確診數     187885 non-null  float64
 8   總死亡數            187885 non-null  int64
 9   新增死亡數           187885 non-null  int64
 10  七天移動平均新增死亡數     187885 non-null  float64
 11  每百萬人確診數         187885 non-null  float64
 12  每百萬人死亡數         187885 non-null  float64
 13  傳染率             187885 non-null  float64
 14  新增檢驗件數          187885 non-null  int64
 15  總檢驗件數           187885 non-null  int64
 16  每千人檢驗件數         187885 non-null  float64
 17  七天移動平均新增檢驗件數    187885 non-null  float64
 18  陽性率             187885 non-null  float64
 19  每確診案例相對檢驗數量     187885 non-null  float64
 20  疫苗總接種總劑數        187885 non-null  int64
 21  疫苗總接種人數         187885 non-null  int64
 22  疫苗新增接種劑數        187885 non-null  int64
 23  七天移動平均疫苗新增接種劑數  187885 non-null  float64
 24  每百人接種疫苗劑數       187885 non-null  float64
 25  每百人接種疫苗人數       187885 non-null  float64
 26  疫情控管指數          187885 non-null  float64
 27  總人口數            187885 non-null  int64
 28  中位數年紀           187885 non-null  float64
 29  70歲以上人口比例       187885 non-null  float64
 30  平均壽命            187885 non-null  float64
 31  解除隔離數           187885 non-null  int64
 32  解封指數            187885 non-null  float64
dtypes: float64(17), int64(12), object(4)
memory usage: 47.3+ MB

In [3]:
allDataFrame = df.reindex(columns=['洲名','國家','日期','總確診數','新增確診數','總人口數','解封指數'])
allDataFrame

        洲名   國家          日期    總確診數  新增確診數      總人口數     解封指數
0       亞洲  阿富汗  2020-02-24       5      5  39835428  99999.0
1       亞洲  阿富汗  2020-02-25       5      0  39835428  99999.0
2       亞洲  阿富汗  2020-02-26       5      0  39835428  99999.0
3       亞洲  阿富汗  2020-02-27       5      0  39835428  99999.0
4       亞洲  阿富汗  2020-02-28       5      0  39835428  99999.0
...     ..  ...         ...     ...    ...       ...      ...
187880  非洲  辛巴威  2022-07-02  255586      0  15092171  99999.0
187881  非洲  辛巴威  2022-07-03  255586      0  15092171  99999.0
187882  非洲  辛巴威  2022-07-04  255726    140  15092171  99999.0
187883  非洲  辛巴威  2022-07-05  255755     29  15092171  99999.0
187884  非洲  辛巴威  2022-07-06  255805     50  15092171  99999.0

[187885 rows x 7 columns]

In [4]:
taiwan = allDataFrame[allDataFrame['國家'] == '台灣']
taiwan

        洲名  國家          日期     總確診數  新增確診數      總人口數      解封指數
163986  亞洲  台灣  2020-01-16        0      0  23855008  99999.00
163987  亞洲  台灣  2020-01-17        0      0  23855008  99999.00
163988  亞洲  台灣  2020-01-18        0      0  23855008  99999.00
163989  亞洲  台灣  2020-01-19        0      0  23855008  99999.00
163990  亞洲  台灣  2020-01-20        0      0  23855008  99999.00
...     ..  ..         ...      ...    ...       ...       ...
164884  亞洲  台灣  2022-07-02  3837856  34807  23855008    258.17
164885  亞洲  台灣  2022-07-03  3870528  32672  23855008    260.37
164886  亞洲  台灣  2022-07-04  3893643  23115  23855008    261.94
164887  亞洲  台灣  2022-07-05  3929627  35984  23855008    264.37
164888  亞洲  台灣  2022-07-06  3964188  34561  23855008    266.71

[903 rows x 7 columns]

In [6]:
taiwan1 = allDataFrame[(allDataFrame['國家'] == '台灣') & (allDataFrame['新增確診數'] == 0)]
taiwan1

        洲名  國家          日期    總確診數  新增確診數      總人口數      解封指數
163986  亞洲  台灣  2020-01-16       0      0  23855008  99999.00
163987  亞洲  台灣  2020-01-17       0      0  23855008  99999.00
163988  亞洲  台灣  2020-01-18       0      0  23855008  99999.00
163989  亞洲  台灣  2020-01-19       0      0  23855008  99999.00
163990  亞洲  台灣  2020-01-20       0      0  23855008  99999.00
...     ..  ..         ...     ...    ...       ...       ...
164627  亞洲  台灣  2021-10-18   16337      0  23855008      0.16
164823  亞洲  台灣  2022-05-02  132955      0  23855008      8.02
164828  亞洲  台灣  2022-05-07  268569      0  23855008     17.16
164829  亞洲  台灣  2022-05-08  268569      0  23855008     17.16
164834  亞洲  台灣  2022-05-13  570870      0  23855008     37.55

[186 rows x 7 columns]

In [10]:
taiwan2 = allDataFrame.query('國家=="台灣"')
taiwan2

        洲名  國家          日期     總確診數  新增確診數      總人口數      解封指數
163986  亞洲  台灣  2020-01-16        0      0  23855008  99999.00
163987  亞洲  台灣  2020-01-17        0      0  23855008  99999.00
163988  亞洲  台灣  2020-01-18        0      0  23855008  99999.00
163989  亞洲  台灣  2020-01-19        0      0  23855008  99999.00
163990  亞洲  台灣  2020-01-20        0      0  23855008  99999.00
...     ..  ..         ...      ...    ...       ...       ...
164884  亞洲  台灣  2022-07-02  3837856  34807  23855008    258.17
164885  亞洲  台灣  2022-07-03  3870528  32672  23855008    260.37
164886  亞洲  台灣  2022-07-04  3893643  23115  23855008    261.94
164887  亞洲  台灣  2022-07-05  3929627  35984  23855008    264.37
164888  亞洲  台灣  2022-07-06  3964188  34561  23855008    266.71

[903 rows x 7 columns]

In [11]:
taiwan3 = allDataFrame.query('國家=="台灣" and 新增確診數==0')
taiwan3

        洲名  國家          日期    總確診數  新增確診數      總人口數      解封指數
163986  亞洲  台灣  2020-01-16       0      0  23855008  99999.00
163987  亞洲  台灣  2020-01-17       0      0  23855008  99999.00
163988  亞洲  台灣  2020-01-18       0      0  23855008  99999.00
163989  亞洲  台灣  2020-01-19       0      0  23855008  99999.00
163990  亞洲  台灣  2020-01-20       0      0  23855008  99999.00
...     ..  ..         ...     ...    ...       ...       ...
164627  亞洲  台灣  2021-10-18   16337      0  23855008      0.16
164823  亞洲  台灣  2022-05-02  132955      0  23855008      8.02
164828  亞洲  台灣  2022-05-07  268569      0  23855008     17.16
164829  亞洲  台灣  2022-05-08  268569      0  23855008     17.16
164834  亞洲  台灣  2022-05-13  570870      0  23855008     37.55

[186 rows x 7 columns]

In [16]:
max = allDataFrame.query('國家=="台灣"')["新增確診數"].max()
allDataFrame.query('國家=="台灣" and 新增確診數==@max')

        洲名  國家          日期    總確診數   新增確診數      總人口數   解封指數
164835  亞洲  台灣  2022-05-14  699824  128954  23855008  46.24

In [17]:
max = allDataFrame.query('國家=="日本"')["新增確診數"].max()
allDataFrame.query('國家=="日本" and 新增確診數==@max')

       洲名  國家          日期     總確診數   新增確診數       總人口數     解封指數
86369  亞洲  日本  2022-02-03  3019169  104345  126050796  99999.0

In [18]:
max = allDataFrame.query('國家=="美國"')["新增確診數"].max()
allDataFrame.query('國家=="美國" and 新增確診數==@max')

         洲名  國家          日期      總確診數    新增確診數       總人口數     解封指數
177979  北美洲  美國  2022-01-10  61801347  1383887  332915074  99999.0

In [24]:
usa = allDataFrame.query('國家=="美國"')
usa.query('日期<"2021" and 日期>="2020-06-01"')

         洲名  國家          日期      總確診數   新增確診數       總人口數      解封指數
177391  北美洲  美國  2020-06-01   1806079   17840  332915074      3.19
177392  北美洲  美國  2020-06-02   1826169   20090  332915074      3.19
177393  北美洲  美國  2020-06-03   1845325   19156  332915074      3.10
177394  北美洲  美國  2020-06-04   1873259   27934  332915074      3.11
177395  北美洲  美國  2020-06-05   1899699   26440  332915074      3.11
...     ...  ..         ...       ...     ...        ...       ...
177600  北美洲  美國  2020-12-27  19278647  135962  332915074  99999.00
177601  北美洲  美國  2020-12-28  19451948  173301  332915074  99999.00
177602  北美洲  美國  2020-12-29  19657920  205972  332915074  99999.00
177603  北美洲  美國  2020-12-30  19876215  218295  332915074  99999.00
177604  北美洲  美國  2020-12-31  20191301  315086  332915074  99999.00

[214 rows x 7 columns]